{% extends 'base.html' %}
{% block title %}Create an ad{% endblock %}
{% block header %} 
    <h1>Create new ad</h1>
{% endblock %}

{% block main_content %}
	<form id='create-ad' method='post' class='form-horizontal'>
		<fieldset>
			{% csrf_token %}
			<table class='table table-striped table-bordered table-hover '>
                <tr>
                    <th><label for="id_contact_city">Contact City:</label></th>
                    <td>
                        <input type="text" name='contact_city' id='contact_city' data-provide="typeahead" class="input-xlarge" autocomplete="off" />
                        <input name='id_contact_city' id='id_contact_city' type="hidden" />
                    </td>
                </tr>
                {{ formset }}
			</table>
            <p><input type='submit' class='btn btn-primary ' value='Save'/></p>
		</fieldset>
	</form>
{% endblock %}

{% block custom_script %}
<script type='text/javascript'>
$(function() {

	var fields = {};
    fields.city = $('#contact_city');
    fields.cityId = $('#id_contact_city');

    fields.city.typeahead({
        items: 15,
        minLength: 3,
        source: function (query, process) {
            return $.post('/api/json/location/cities/', {"cityName": query}, function (data) {
                fields.city.citiesName = [];
                fields.city.citiesId = {};
                $.each(data, function (i, city) {
                    fields.city.citiesName.push(city.name);
                    fields.city.citiesId[city.name] = city.id;
                });
                return process(fields.city.citiesName);
            });
        }
        ,updater: function (item) {
            var value = fields.city.citiesId[item];
            fields.cityId.val(value);
            return item;
        }
    });

});
</script>
{% endblock %}