{% extends 'base.html' %}
{% block title %}Signup{% endblock %}
{% block header %} 
	<h1>Classifieds list</h1>
{% endblock %}


{% block main_content %}
    <form id='create-ad' method='get' class='form-horizontal'>
        <fieldset>
            <table class='table table-striped table-bordered table-hover '>
                {% include 'misc/search/classifieds.html' %}
            </table>
        </fieldset>
    </form>

    <div id="preview">
    <ul class="thumbnails">
    {% for classified in classifieds %}
      <li class="span3">
        <div class="thumbnail">
          <img src="http://placehold.it/320x200" alt="ALT NAME">
          <div class="caption">
            <h4><a href='/ads/{{ classified.url }}'>{{ classified.title }}</a></h4>
            <p>{{ classified.content }}</p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    </div>

{% endblock %}