{% extends 'base.html' %}
{% block title %}{{ classified }}{% endblock %}
{% block header %} 
    <h1>Classified</h1>
{% endblock %}

{% block main_content %}
    <div class="row-fluid marketing">
        <div class="span">
          <h4>{{ classified }}</h4>
          <img src="{{MEDIA_URL}}{{ classified.image_1 }}" alt="{{ classified }}" style="width:30%"/>
          <p>{{ classified.content }}</p>

          <a href="/ads/edit/{{ classified.id }}" class="btn">Edit</a>
          <a href="/ads/delete/{{ classified.id }}" class="btn btn-danger">Delete</a>
        </div>
    </div>
{% endblock %}