
<div class="social-links">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p class="big">
          <span>Follow Us On</span>
          <a href="http://www.facebook.com/classijango"><i class="icon-facebook"></i>Facebook</a>
          <a href="http://twitter.com/classijango"><i class="icon-twitter"></i>Twitter</a>
          </p>
      </div>
    </div>    
  </div>
</div>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">

      <div class="widgets">
        <div class="span4">
          <div class="fwidget">



            <div class="col-l">
            <h6>Categories</h6>
            <ul>
              <li><a href="#">Mobile</a></li>
              <li><a href="#">Geek Gadgets</a></li>
              <li><a href="#">Cameras</a></li>
              <li><a href="#">Games</a></li>
              <li><a href="#">Computers</a></li>
            </ul>
            </div>

          </div>
        </div>

        <div class="span4">
          <div class="fwidget">
            <h6>Categories</h6>
            <ul>
              <li><a href="#">Mobile</a></li>
              <li><a href="#">Geek Gadgets</a></li>
              <li><a href="#">Cameras</a></li>
              <li><a href="#">Games</a></li>
              <li><a href="#">Computers</a></li>
            </ul>
          </div>
        </div>

        <div class="span4">
          <div class="fwidget">
            <h6>Latest Classifieds</h6>
            <ul>
              <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
              <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
              <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
              <li><a href="#">Vivamus scelerisque dui in massa</a></li>
              <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="span12">
          <div class="copy">
            <h6>Classijango</h6>
            <p>
              Copyright &copy;2013 | 
              <a href="/">Home</a> | 
              <a href="/help/about/">About Us</a> | 
              <a href="/help/faq/">FAQ</a> | 
              <a href="/help/contact/">Contact Us</a>
            </p>
          </div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer>   
