<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Classijango</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Jonas Sciangula Street - Joni2Back">

    <link rel='stylesheet' href='{{STATIC_URL}}css/bootstrap.css'>
    <link rel='stylesheet' href='{{STATIC_URL}}css/bootstrap-responsive.css'>
    <link rel='stylesheet' href='{{STATIC_URL}}css/main.css'>  
  </head>
  <body>

    {% include 'misc/layouts/top_menu_bar.html' %}

    <div class="container clear">
      {% block header %}{% endblock %}
      {% block main_content %}{% endblock %}
    </div>

    <footer>
    </footer>

    <script src='{{STATIC_URL}}js/jquery.min.js'></script>
    <script src='{{STATIC_URL}}js/bootstrap.js'></script>
    <script src='{{STATIC_URL}}js/fields.js'></script>
    {% block custom_script %}{% endblock %}
  </body>
</html>