body {
  padding-top: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
@media (max-width: 980px) {
  body {
    padding-top: 0px;
  }
}
/*
ul.errorlist li {
    color:red;
}*/
.navbar.navbar-fixed-top form.form-search {
  position:relative;
}
form.form-search:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: url("../img/glyphicons-halflings.png") -48px 0;
  position: absolute;
  top: 8px;
  left: 8px;
  opacity: .5;
  z-index: 1000;
}
form.form-search input.search-query {
  padding-left: 25px;
}
.time .tidate a {
  color:#fff;
}
.timatter .icon,
.alert .icon {
  margin-right:5px;
}
.timatter hr {
  margin:7px 0;
}
.formy .form-actions {
  margin:0;
  padding:0;
}
.formy .form-horizontal .control-group {
  margin-bottom:14px;
}
.formy .form-horizontal .control-group .alert.alert-error {
  padding:1px;
  margin:0;
  font-size:12px;
  background:rgba(0,0,0, 0.5);
  -webkit-border-radius: 3px!important;
  -moz-border-radius: 3px!important;
  border-radius: 3px!important;
  color:#fff;
}
.formy .control-group.error .control-label, 
.formy .control-group.error .help-block,
.formy .control-group.error .help-inline {
  color:#fff;
}