{% extends 'base.html' %}
{% block title %}My profile{% endblock %}
{% block header %} 
	<h1>My profile</h1>
{% endblock %}

{% block main_content %}
    <form id='create-ad' method='post' class='form-horizontal'>
        <fieldset>
            {% csrf_token %}
            <table class='table table-striped table-bordered table-hover '>
                {{ formset }}
            </table>
            <p>
                <input class='btn btn-primary' type='submit' value='Update profile'/>
                <a class='btn' href='/accounts/profile/classifieds'/>View my classifieds</a>
            </p>
        </fieldset>
    </form>
{% endblock %}