{% extends 'base.html' %}
{% block title %}Signup{% endblock %}
{% block header %} 
	<h1>Create an account</h1>
{% endblock %}

{% block main_content %}
    <form id='register-form' method='post' class='form-horizontal'>
        <fieldset>
            {% csrf_token %}
            <table class='table table-striped table-bordered table-hover '>			
                {{ formset }}
            </table>
            <p><input type='submit' class='btn btn-primary ' value='Register'/></p>
        </fieldset>
    </form>
{% endblock %}